<!DOCTYPE html>
<html>
<head>
  <title>RailsPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><%=link_to "Homepage", articles_path %> </li>
  <li> <%=link_to "Create New Article", new_article_path %> </li>
 <!--  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li> -->
</ul>
<%= yield %>

</body>
</html>
